.options-admin
  .section-title List of students
  = link_to 'New student', new_student_path

.row.justify-content-md-center
  .col-md-12.col-md-auto
    = render partial: 'utils/flash_messages'
    .table
      .head
        .row
          .col-md-3.column
            Name
          .col-md-2.column
            identification
          .col-md-3.column
            Email
          .col-md-2.column
            Phone
          .col-md-1.column
            Group
          .col-md-1.column
            Options
      - @students.each_with_index do |student, index|
        .row{class: ('pair' if index % 2 == 0)}
          .col-md-3.column.bold
            = render_avatar(student)
            %a{href: edit_student_path(student)}
              = student.name
          .col-md-2.column
            = student.identification
          .col-md-3.column
            = student.email
          .col-md-2.column
            = student.phone
          .col-md-1.column
            - if student.group
              %a{href: edit_group_path(student.group)}
                = student.group.name 
          .col-md-1.column
            %a.btn.btn-sm.btn-actions{href: edit_student_path(student)}
              %i.fa.fa-pencil
            = link_to_delete_helper student, 'Would you like to delete this student?'



