.options-admin
  .section-title Creating a new student
  = link_to 'Back', :back
= bootstrap_form_for @student, :url => { :controller => :students}, html:{class: 'form-main form-depend'} do |f|
  = render partial: 'utils/flash_messages'
  = render partial: 'students/fields', locals:{f:f}
  .row.justify-content-end
    .col-md-2
      = f.submit 'Save', class: 'btn btn-lg btn-primary btn-block red-button'


