.options-admin
  .section-title Editing group #{@group.name}
  = link_to 'Back', :back
= bootstrap_form_for @group, html:{class: 'form-main form-depend'} do |f|
  = render partial: 'utils/flash_messages'  
  .row
    .col-md-3
      = f.text_field :name, placeholder: 'Name or title', required: 'required'
  .row
    .col-md-12
      = f.text_area :description, placeholder: 'Description', required: 'required'
  .row.justify-content-end
    .col-md-2
      = f.submit 'Update', class: 'btn btn-lg btn-primary btn-block red-button'

.row
  = render partial: 'groups/teachers'
  = render partial: 'groups/students'
= render partial: 'groups/add_teacher'
