= render partial: 'layouts/header'
= render partial: 'layouts/home_sections/main_section'
= render partial: 'layouts/home_sections/about'
= render partial: 'layouts/home_sections/courses'
= render partial: 'layouts/home_sections/contact_us'
= render partial: 'layouts/home_sections/price'
= render partial: 'layouts/home_sections/comfenalco'
= render partial: 'layouts/footer'
