%span.anchor#contact_us
.counter
  .counter_background
  .container
    .row
      .col-lg-6
        .counter_content
          %h1.counter_title_1 Contáctanos
          %h2.counter_title Puedes hacer parte de nosotros. ¡Wii!
          .counter_text
            %p Escribe un mensaje y pronto nos comunicaremos contigo.
      .col-lg-1
      .col-lg-5
        .contact-form
          = bootstrap_form_for @contacting, url: contacting_index_path, html: {class: "counter_form_content"} do |f|
            = render partial: 'utils/flash_messages'
            = f.text_field :name, { hide_label: true, :placeholder => "Nombre", :required => "required", class: 'counter_input'}
            = f.text_field :phone, {hide_label: true, :placeholder => "Telefono", :required => "required", class: 'counter_input'}
            = f.text_area :message, {hide_label: true, :placeholder => "Mensaje", :required => "required", class: 'counter_input height_auto', cols: 40, rows: 10}
            = f.submit 'Enviar', class: 'counter_form_button red-button'
                  
