.row
  = f.hidden_field :user_id, value: current_user.id
  .col-md-12
    = f.text_field :title, placeholder: 'Title ', required: 'required'
  .col-md-3
    = f.select(:group_id, current_user.groups.collect {|g| [ g.name, g.id ] },  {  prompt: 'Select a group'}, required: 'required' )
  .col-md-3
    = f.select :type,  [['Workshop', 'workshop'], ['Discussion', 'discussion']], {  prompt: 'Select type...'}, required: 'required'
  .col-md-3
    - available_percentage = Activity.free_percentage(@group, current_user)
    = f.number_field :percentage, label: "Percentage (#{available_percentage}% available)", required: 'required', min: '0', max: available_percentage
  .col-md-3
    = f.datetime_local_field :deadline, placeholder: 'Deadline', required: 'required'
  .col-md-12
    = f.form_group :content, label: { text: 'Description' }, class: 'rich-editor' do
      = f.trix_editor :content
