.options-admin
  - if params['group_id'].present?
    .section-title= "Creating a new activity for group #{Group.find(params['group_id']).name}"
  - else
    .section-title Creating a new activity
  = link_to 'Back', :back
= bootstrap_form_for @activity, :url => { :controller => :activities}, html:{class: 'form-main form-depend'} do |f|
  = render partial: 'utils/flash_messages'
  = render partial: 'activities/fields', locals:{f:f}
  .row.justify-content-end
    .col-md-2
      = f.submit 'Save', class: 'btn btn-lg btn-primary btn-block red-button'


