!!!
%html
  %head
    %title WashingtonAcademy
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "Unicat project", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  
  %body
    - if controller_name.to_sym == :home || !current_user
      .super_container
        = yield
    - elsif current_user
      = render partial: 'admin/header'
      .panel-admin.p-0.vh100
        .row.vh100.max100
          = render partial: 'admin/menu'
          %main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4
            = yield
